# Compiled Object files
*.slo
*.sdf
*.lo
*.o
*.obj
*.tlog
*.pdb
*.ilk
*.suo
*.log
*.iobj
*.ipdb
*.opensdf
*.idb
*.suo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
